<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471504723896-9g3p04aour98u39103e4vb02stgcdoas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471504723896-9g3p04aour98u39103e4vb02stgcdoas</string>
	<key>API_KEY</key>
	<string>AIzaSyDx6KsaDnJKM9p_c6psdWiLaKOlbXuEhfo</string>
	<key>GCM_SENDER_ID</key>
	<string>471504723896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainstormMeokjang</string>
	<key>PROJECT_ID</key>
	<string>mukjang-12e08</string>
	<key>STORAGE_BUCKET</key>
	<string>mukjang-12e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471504723896:ios:d85b24ae57191c8f7cb94d</string>
</dict>
</plist>